.next

frontend/node_modules
frontend/.cache
frontend/.parcel-cache
frontend/server_src/public
frontend/.env
frontend/.env.production

Api/conf/auth.json
Api/conf/cors.json
Api/conf/database.json

frontend/.next
frontend/config.dist.js