.next

frontend/node_modules
frontend/.cache
frontend/.parcel-cache
frontend/server_src/public
frontend/component/Utils/Select/node_modules
frontend/.env
frontend/.env.production
frontend/prod-server.js

Api/conf/auth.json
Api/conf/cors.json
Api/conf/database.json

Api/packages/database/*.db
Api/*.db

frontend/.next
frontend/config.dist.js
