.imgArea {
    position: relative;
    // height: 650px;
    border: 2px solid black;
    overflow: hidden;
    // right: 10%;
    background-color: grey;
    & > img,
    .coveringCanvas {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .coveringCanvas {
        z-index: -100;
        cursor: move;
    }
}

.test {
    position: relative;
    background-color: blue;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}