body {
    background-color: rgba(0, 0, 250, 0.212);
}

/* beautifull h1 */
h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}